<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
<h1>Postage Information</h1>
<p>Package weight in pounds: </p>
<p>Mail Type: </p>
<p>Price: <%= price %></p>


</body>
</html>